.dash-container div {
  margin-left: 15px;
  margin-right: 15px;
  border: 10px;
}

.dash-container ul {
  text-align: center;
  margin: 0;
  padding: 0;

}
.dashboard-header h2 {
  margin-left: auto;
  margin-right: auto;
}

.dash-btn {
  display: flex;
  align-text: center;
  border: 3px solid
  
}

.dash-section {
  height: auto;
  list-style-type: none;
}

ul {
  list-style-type: none;
}