.dash-container div {
  margin-left: 15px;
  margin-right: 15px;
  border: 10px;
}

.dashboard-header h2 {
  margin-left: auto;
  margin-right: auto;
}

.dash-btn {
  display: flex;
  align-text: center;
  height: auto;
  border: 3px solid green;
}

.dash-section {
  height: auto;
}
