// Specific CSS for your home-page

.home_video {
    width: 100vw;
    position: absolute;
    object-fit: cover;
    top: 66px;
    z-index: -2;
    margin: auto;
}

.video-card h2, h4 {
    text-align: center;
    color: white;
    margin-top: 10%;
}
.video-card a {
    text-decoration: none;
    color: white;
    background-color: mediumaquamarine;
    padding: 10px;
    opacity: 0.5;
    border-radius: 4px;
}
.video-card a:hover {
    opacity: 0.8;
}

.video-card {
    height: 80vh;
}
.container {
    display: grid;
    grid-template-columns: auto auto;
}