// Specific CSS for your home-page

.home_photo {
    width: 100vw;
    position: absolute;
    object-fit: cover;
    top: 83px;
    z-index: -2;
    margin: auto;
    height: 96%;
}

.photo-card h2, p {
    text-align: center;
    color: white;
    margin-top: 10%;
}
a {
    text-decoration: none;
    color: white;
}
//  
//     background-color: rgb(231, 86, 142);
//     padding: 10px;
//     opacity: 0.8;
//     border-radius: 4px;

.photo-card {
    height: 80vh;
}
.container {
    display: grid;
    grid-template-columns: auto auto;
}
.show-list img {
    height: 350px;
    width: 200px;
}

.flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}