// Specific CSS for your home-page

.home_photo {
    width: 100vw;
    object-fit: cover;
    z-index: -2;
    margin: auto;
    height: 96%;
    position: absolute;
}

.photo-card h2, p {
    text-align: center;
    color: white;
    margin-top: 10%;
}
a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

a:hover {
    text-decoration: none;
    color: black;  
}
//
//     background-color: rgb(231, 86, 142);
//     padding: 10px;
//     opacity: 0.8;
//     border-radius: 4px;
.container {
    display: grid;
    grid-template-columns: auto auto;
}

.photo-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 90vh;
}
.banner a {
    text-decoration: none;
    opacity: 0.5;
    color: white;
}
.banner a:hover {
    opacity: 0.9;
}
