       <div class="card-img">
          <%= image_tag "ART00050817001.jpg", alt: "surfboard", width: 200 %>
        </div>
      <% end %>
    <div class="card-bottom">
      <h4><b><%= @surfboard.model %></b></h4>
        <p><%= @surfboard.description %></p>
        <% end %>
      <% end %>
    </div>
  </div>