<body class= "banner">
<div class="video-card">
  <%= video_tag "wave.mp4", autoplay: :autoplay, loop: :loop, muted: :muted, class: "home_video" %>
  <div class= "container">
    <h2>Welcome to Surfbnb!</h2>
    <h4><%= link_to "Explore Surfboards", surfboards_path %></h4>
  </div>
</div>
</body>
