<h1>Rent Surfing Essentials</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<div class="container">
  <div class="card">
    <%= image_tag "ART00050817001.jpg", alt: "surfboard", width: 200 %>
    <div class="card-bottom">
      <h4><b>Awesome Board</b></h4> 
      <p>Board for pros.</p> 
    </div>
  </div>

  <div class="card">
    <%= image_tag "aa0bo0179_rdtw_1.jpg", alt: "surfboard", width: 200 %>
    <div class="card-bottom">
      <h4><b>Awesome Board</b></h4> 
      <p>Board for kooks.</p> 
    </div>
  </div>
</div>
