<div class= "banner">
<div class="photo-card">
  <%#= image_tag "background.jpg", autoplay: :autoplay, loop: :loop, muted: :muted, class: "home_photo" %>
    <%= video_tag "wave.mp4", autoplay: :autoplay, loop: :loop, muted: :muted, class: "home_video" %>
  <div class= "container-fluid">
    <h2>Welcome to SurfBnB!</h2>
    <p><%= link_to "Explore Surfboards", surfboards_path %></p>
  </div>
</div>
</div>
