<div class="flex">
  <h2 class= "text-center mt-4">Surf Boards</h2>
  <p><%= link_to "Add Your Surfboard", new_surfboard_path, class: "black-btn"%></p>
</div>
<div class="container">
  <%= render 'shared/card' %>
</div>
