.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar {
  background: rgb(255, 176, 96);
  justify-content: space-between;

}

.nav-link:hover {
  text-decoration: none;
}

